# exportPattern("^[[:alpha:]]+")
import(wmtsa)
export(waveseq)
export(preprocess)
export(getThresholdDistribution)
export(getConfidenceInterval)
export(waveletThresholding)
export(gapPeaks)
export(getPeakReads)
export(getPeakReads_batch)
export(compareWithControl)
export(controlFDR)
export(randomizedBackground)
export(noControlFDR)
export(gapDiagnostic)